<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a  class="clickable" (click)="onSelectedProducts()">Home</a></li> 
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a> 
        <ul class="dropdown-menu">
          <li><a class="clickable" (click)="PromoProducts()">Promotion</a></li>
          <li><a class="clickable" (click)="AvailableProducts()">Availables</a></li>
        </ul>
      </li>
    <li><a class="clickable" routerLink="/caddies">Caddies</a></li>
    <li><a href="">Page 3</a></li>
  </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a  class="clickable" (click)="onLogout()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href=""><span>  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg></span>{{caddyService.getCurrentCaddy().name}} | {{caddyService.getCurrentCaddy().items.size}}</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]="currentCategorie==c?'active':''" (click)="getProductsByCat(c)" class="list-group-item clickable" *ngFor="let c of categories._embedded.categories">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div> 
</div>